
html,
body,
#gamestate {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow: hidden;
}

#deck-builder {

}

.selectable {
  cursor: pointer;
}

.selectable.selected {
  border: 2px solid #F00;
  margin: -2px;
}

.gameobject {
  width: 94px;
  height: 130px;
  margin: 5px;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;

  /* TODO: REMOVE IMAGE? */
  background-image: url(images/sm/back.png);
}

.gameobject.zoomed {
  width: 223px;
  height: 310px;
  margin: 0;
  position: absolute;
  z-index: 10001;
  background-image: url(images/lg/face-down.png);
}

.gameobject.face-down {
  background-image: url(images/sm/back.png);
}


.cardcontainer {
  position: relative;
  padding: 0;
  margin: 0;
}

.cardart {
  position: absolute;
  top: 16px;
  left: 8px;
  width: 77px;
  height: 56px;
  background-size: 77px 56px;
}

.gameobject.zoomed .cardname {
  position: absolute;
  top: 18px;
  left: 22px;
}

.gameobject.zoomed .cardart {
  top: 36px;
  left: 20px;
  width: 183px;
  height: 135px;
  background-size: 183px 135px;
}

.zone .gameobject {
  position: absolute;
}

.ui-dialog .ui-dialog-content.zone {
  padding: 0;
}

.battlefield-container {
  height: 100%;
  margin-left: 4em; /* width of toolbar */
  margin-right: 12em; /* width of log container */
  position: relative;
  overflow: auto;
}

.battlefield {
  height: 1000%;
  width: 1000%;
}

.ui-dialog-titlebar {
  white-space: nowrap;
}

#log-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 12em;
  height: 100%;
  background: #833;
  border-width: 0 0 0 1px;
  border-color: #333;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: scroll;
}

#log {
}

.log-message {
  display: block;
  margin: 0.125em 0.25em;
  padding: 0.25em;
  background-color: #B3B3B3;
  border-width: 1px;
  border-style: solid;
  border-color: #D9D9D9 #B3B3B3 #868686;
  border-radius: 5px;
}

.log-message .log-source {
  font-weight: bold;
}

#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 4em;
  height: 100%;
  background: #DDD;
  font-weight: bold;
}

#toolbar > .zoneSpawner {
  position: absolute;
  top: 50%;
  left: 0;
  transform               : rotate(270deg);
  -ms-transform           : rotate(270deg);
  -moz-transform          : rotate(270deg);
  -webkit-transform       : rotate(270deg);
  -o-transform            : rotate(270deg);
  transform-origin        : 0.5em 50% 0;
  -ms-transform-origin    : 0.5em 50% 0;
  -moz-transform-origin   : 0.5em 50% 0;
  -webkit-transform-origin: 0.5em 50% 0;
  -o-transform-origin     : 0.5em 50% 0;
  width: 3em;
  margin-top: -1.5em;
  border-color: #AAA #BBB #AAA #777;
  border-width: 0 2px 2px;
  border-radius: 0 0 0.5em 0.5em;
  border-style: solid;
  padding: 0.25em;
  background-color: #999;
  cursor: pointer;
}

#toolbar > .zoneSpawner:hover,
#toolbar > .zoneSpawner:active {
  border-color: #888 #777 #888 #BBB;
  background-color: #909090;
}

#pass-button {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin: 3em -2px 0;
  width: 3em;
  height: 2em;
  line-height: 2em;
  border-width: 2px;
  border-radius: 0.5em;
}

.button {
  border-color: #BBB #AAA #777 #888;
  border-style: solid;
  border-radius: 0.25em;
  background-color: #999;
  text-align: center;
  border-width: 1px;
  height: 1em;
  cursor: pointer;
}

.button:hover {
  border-color: #777 #888 #BBB #AAA;
  background-color: #909090;
}

.player {
  position: absolute;
  left: 0;
  padding: 0.5em;
  width: 3em;
}

.player.opponent {
  top: 0;
}

.player.localPlayer {
  bottom: 0;
}

.player .name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  height: 1em;
}

.player .lifeTotal {
  color: #4A4;
  float: right;
}

.player .zoneSpawner {
  float: left;
  text-align: center;
}

#zone-selector {
  display: block;
  margin: 0 auto 1em;
  min-width: 223px;
}

#action-selector {
  display: block;
  margin: 1em auto;
  /*width: 223px;*/
}

.ui-draggable-dragging {
 z-index: 9999;
}

.zoneSpawner {
  padding: 0;
  margin: 0;
  height: 1em;
  width: 1em;
}

.zoneSpawnerPopup {
  display: none;
  position: absolute;
  z-index: 9998;
  border: 1px solid #555;
  border-radius: 0.5em;
  overflow: hidden;
}

.zoneSpawnerPopupChoice {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  background: #FFF;
  color: #000;
}

.zoneSpawnerPopupChoice:hover {
  background: #00F;
  color: #FFF;
}



























